/* general setting */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "El Messiri", sans-serif;
}
/* navegation setting */
nav {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  text-decoration: none;
  padding: 30px 50px 0 0;
}
nav logo {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}
nav ul {
  display: flex;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  flex: 0.25;
  color: #642a73;
  margin-right: 10px;
}
nav ul a {
  text-decoration: none;
}
.contenedor {
  padding: 20px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;
}
header {
  width: 100%;
  height: 480px;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d62,
    #fbd88679,
    #c6ffdd77
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d62, #fbd88679, #c6ffdd77),
    url(./img/elmermediacover.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wave {
  position: absolute;
  bottom: 200px;
  width: 100%;
}
header .textheader {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  align-items: center;
  color: #ffff;
  flex-direction: column;
  text-align: center;
}
.textheader h1 {
  margin-top: -20px;
  font-size: 50px;
  color: white;
}
.textheader h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
}
.contenedor-sobremi {
  display: flex;
  justify-content: space-evenly;
}
.imagen-sobremi {
  width: 48%;
  height: 100%;
}
.contenedortextos {
  width: 48%;
}
.contenedortextos h3 {
  margin-bottom: 15px;
}
.contenedortextos h3 span {
  background: #642a73;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}
.contenedortextos p {
  padding: 0px 30px 30px 0px;
  text-align: justify;
}

.contenedora {
  width: 100%;
  overflow: hidden;
  margin-top: -30px;
}

.slider-contenedora {
  width: 100%;
  display: flex;
}

.contenido-slider {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(2) {
  background: #642a73;
  color: #fff;
}

.contenido-slider:nth-child(3) {
  background: #c6ffdd;
}

.contenido-slider > img {
  width: 400px;
}

.contenido-slider > div {
  width: 40%;
}

.contenido-slider h2 {
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido-slider a {
  color: #fff;
  background: #642a73;
  width: 100px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}

.contenido-slider:nth-child(2) a {
  background: #fff;
  color: #332863;
}

@media screen and (max-width: 900px) {
  .contenido-slider > img {
    width: 250px;
  }

  .contenido-slider > div {
    width: 40%;
  }

  .contenido-slider h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .contenido-slider {
    flex-direction: column-reverse;
  }

  .contenido-slider > div {
    width: 80%;
  }
}
/* Tabs setting */
.wrap {
  width: 1500px;
  max-width: 95%;
  margin: 10px auto;
}

ul.tabs {
  width: 100%;
  padding: 15px 0;
  background: #ffff;
  list-style: none;
  display: flex;
}

ul.tabs li {
  width: 18%;
}
ul.tabs li :hover {
  box-shadow: -2px 2px 5px #d3d1d1;
}
ul.tabs li a {
  color: #642a73;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px 20px;
}
ul.tabs li .fa {
  padding: 5px;
  box-shadow: none;
}

.active {
  background: #642a73;
  box-shadow: none;
}
.active .tab-text {
  color: #fff;
  box-shadow: none;
}
.active .fa {
  color: #fff;
  box-shadow: none;
}

ul.tabs li a .tab-text {
  margin-left: 8px;
  box-shadow: none;
}

.secciones {
  width: 100%;
  background: #fff;
}

.secciones article {
  padding: 30px;
  box-shadow: -2px 2px 5px #d3d1d3;
}

.secciones article p {
  text-align: justify;
}
.secciones article h1 {
  color: #642a73;
}

@media screen and (max-width: 700px) {
  ul.tabs li {
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  ul.tabs li a {
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text {
    display: none;
  }

  .secciones article {
    padding: 20px;
  }
}
/* skills Bars setting */
.skillsbody {
  background-color: #c6ffdd;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #f1f1f1;
}
.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 20px;
  background-color: #642a73;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #642a73;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  left: 0;
  transform: translateX(-50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #642a73;
  top: -14px;
  left: 0;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 2px;
}
/* circular percentages setting */
.wrapper {
  display: flex;
  justify-content: space-around;
}
.circle1 {
  width: 200px;
  height: 200px;
  margin-left: auto;
  display: flex;
  flex: 1;
}
.circle2 {
  width: 200px;
  height: 200px;
  margin-left: auto;
  display: flex;
  flex: 1;
}
.zlija {
  margin-right: 20%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.textdisp {
  display: flex;
  margin: auto;
  margin-bottom: 200px;
  transform: translate(50%, 50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 0 15px #642a73;
  background: #fff;
  box-sizing: border-box;
  text-align: center;

  transition: 0.5s ease;
}
.textdisp:hover {
  border-radius: 0;
}
.textdisp::before {
  content: "";
  position: absolute;
  top: o;
  left: o;
  width: 100%;
  height: 100%;
  background: #642a73;

  z-index: -1;
  transform: rotate(-45deg);
  border-radius: 10px;
}
.textdisp p {
  margin: 0;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease;
}
.textdisp::hover p {
  color: #fff;
}
